# Proyecto Modulo #1 

 - Pablo Crowley Mora
 - ALondra Bajaras Esparza

## "Acceso a la electricidad en el mundo"

###### En éste proyecto veremos el porcentaje de varios paises a lo largo del mundo en el cual se tiene acceso a electricidad, se realizara un ajuste de curvas con los datos obtenidos de 1990 a 2016 para poder estimar en que momento éste porcentaje llegará al 95 en todo el mundo

## Objetivos

##### 1.1 Objetivo general 
 Estimar cuando se llegara a un 95 porciento de acceso a la electricidad en todo el mundo.

##### 1.2 Objetivos especificos 
 - Observar el crecimiento constante del acceso a la electricidad en todo el mundo
 - Evaluar graficando los datos obtenidos de 1990 a 2016. 
 - Hacer un ajuste de curvas con los datos ya graficados.
 
##### 1.3 Modelo que representa el problema 
 
 - FUNCIÓN UTILIZADA:

def obj(beta, x, y, n):
    
    return np.sum((y-beta.dot([x**i for i in range(n+1)]))**2)
    
- ¿Qué situación representa el modelo? ¿cuáles son las limitaciones fundamentales?

Representa un modelo de crecimiento y optimización respecto a la accesibilidad de energía eléctrica que presenta el mundo. La optimización representa como el acceso a la electricidad crecerá y en cuanto tiempo esto llegara a ser igual al 95%.

In [1]:
import pandas as pd
import numpy as np
import scipy.optimize as opt
import matplotlib.pyplot as plt

In [2]:
archivo = 'prueba.csv'
data = pd.read_csv(archivo)
data

,Unnamed: 0,anio,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1,1990,88.445351,0.010000,11.397808,100,100,74.384239,100,90.640823,...,100,74.114670,7.006693,71.392945,77.841415,87.694695,36.009098,59.337940,13.900000,30.357832
1,2,1991,88.780846,0.010000,12.579379,100,100,74.382220,100,91.123672,...,100,75.364212,8.576991,71.600428,78.800000,88.333473,37.441071,60.575081,14.115426,30.718805
2,3,1992,89.115829,0.010000,13.760440,100,100,74.313160,100,91.606018,...,100,76.613235,10.146778,72.584185,79.868790,88.971748,44.100000,61.811710,19.200000,28.200000
3,4,1993,89.447754,0.010000,14.938441,100,100,75.349325,100,92.085304,...,100,77.859207,11.713506,73.237799,80.879166,89.606956,40.300938,63.045284,15.287503,31.436678
4,5,1994,89.773560,0.010000,16.110325,100,100,75.788522,100,92.558472,...,100,79.099052,18.000000,73.522150,80.000000,90.236053,41.723221,64.272736,15.865894,28.100000
5,6,1995,90.090187,0.010000,17.273031,100,100,76.214138,100,93.022461,...,100,80.329727,14.825549,74.026833,82.878502,90.855965,43.136330,65.491013,16.435108,32.130077
6,7,1996,90.394585,0.010000,18.423502,100,100,77.205150,100,93.474213,...,100,81.548157,16.364746,75.155943,83.861343,91.463646,44.537205,57.600000,17.300000,32.459949
7,8,1997,90.683678,0.010000,19.558676,100,100,77.573730,100,93.910675,...,100,78.400000,17.888645,75.852620,84.828888,92.056030,42.600000,67.887794,17.533768,32.774528
8,9,1998,90.954422,0.021977,20.675495,100,100,78.395511,100,94.328773,...,100,83.936089,19.394192,76.508697,85.778084,92.630058,47.290001,64.900000,19.000000,33.070751
9,10,1999,91.203751,0.179635,21.770901,100,100,78.965532,100,94.725464,...,100,85.099457,19.100000,77.609523,86.705864,93.182678,48.635811,70.211159,18.559008,38.400000
10,11,2000,91.660398,0.959756,22.843355,100,100,78.762330,100,95.099205,...,100,86.239876,22.339504,77.726549,87.610687,93.712341,49.958664,71.339180,16.700000,33.597420
11,12,2001,91.638092,0.776537,20.000000,100,100,80.149257,100,95.511063,...,100,87.361885,23.782274,77.291932,88.497108,94.223595,51.263111,70.200000,19.498520,33.830868
12,13,2002,91.833717,6.267394,24.939095,100,100,80.359978,100,95.797508,...,100,89.100000,25.212698,78.821025,89.371178,94.722496,52.555210,77.100000,17.400000,34.200000
13,14,2003,92.023048,11.751966,25.974508,100,100,81.354788,100,96.134209,...,100,89.574928,26.636837,79.457775,90.238960,95.215118,53.841026,78.800000,18.500000,34.266785
14,15,2004,92.212166,17.236319,27.009701,100,100,82.662402,100,96.470680,...,100,90.678085,28.060757,79.685684,91.106529,95.707520,49.590000,80.900000,20.300000,34.481380
15,16,2005,92.407120,23.000000,28.050735,100,100,83.687576,100,96.812996,...,100,96.100000,29.490517,80.376481,91.979935,96.205765,56.418056,80.900000,21.277885,34.701820
16,17,2006,92.613983,28.228613,29.103676,100,100,85.800296,100,97.167221,...,100,96.000000,26.440000,81.221617,96.371730,96.715919,55.800335,80.700000,21.737333,37.200000
17,18,2007,92.838821,33.748680,37.500000,100,100,84.735723,100,97.539413,...,100,94.046867,33.624620,81.747650,93.768532,97.244034,59.042709,82.000000,18.500000,35.184479
18,19,2008,93.086166,42.400000,31.268013,100,100,85.432827,100,97.934128,...,100,95.208260,33.873974,82.278332,94.694328,97.794670,60.386539,81.900000,22.714685,35.457310
19,20,2009,93.354546,44.854885,32.382469,100,100,85.189815,100,98.363365,...,100,96.100000,33.291115,83.211392,97.900000,98.377060,61.751400,82.700000,23.235649,43.369082
20,21,2010,93.356292,42.700000,33.514950,100,100,86.136134,100,98.820000,...,100,97.591133,36.898365,83.539119,96.606010,0.000000,63.134281,82.900000,22.000000,36.063057
21,22,2011,93.942375,43.222019,34.600000,100,100,86.782683,100,99.216164,...,100,99.000000,38.434589,82.504646,96.668575,99.430435,64.532181,84.700000,24.328644,36.900000
22,23,2012,94.255814,69.100000,35.821964,100,100,87.288244,100,99.584412,...,100,100.000000,39.982830,85.041338,98.504707,99.773651,65.942101,85.300000,24.894667,36.728878
23,24,2013,94.578262,67.259552,36.990490,100,100,88.389705,100,99.837128,...,100,100.000000,31.700000,85.163333,99.255646,99.942505,75.600000,85.400000,25.469702,37.076813
24,25,2014,94.906723,89.500000,32.000000,100,100,88.076774,100,99.959244,...,100,99.200000,43.103348,85.690705,97.900000,99.993134,66.100000,86.000000,27.900000,32.300000
25,26,2015,95.238182,71.500000,42.000000,100,100,88.517967,100,99.995209,...,100,100.000000,44.669613,87.028132,99.938278,100.000000,70.213905,85.500000,31.100000,33.700000
26,27,2016,95.570145,84.137138,40.520607,100,100,88.768654,100,100.000000,...,100,100.000000,57.820000,87.351048,100.000000,100.000000,71.642349,84.200000,27.219337,38.145138

In [3]:
x = data.iloc[:,0]
y = data.iloc[:,258]

In [4]:
y

0     71.392945
1     71.600428
2     72.584185
3     73.237799
4     73.522150
5     74.026833
6     75.155943
7     75.852620
8     76.508697
9     77.609523
10    77.726549
11    77.291932
12    78.821025
13    79.457775
14    79.685684
15    80.376481
16    81.221617
17    81.747650
18    82.278332
19    83.211392
20    83.539119
21    82.504646
22    85.041338
23    85.163333
24    85.690705
25    87.028132
26    87.351048
Name: World, dtype: float64

In [5]:
x

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
Name: Unnamed: 0, dtype: int64

In [8]:
def fun_obj(beta,x,y,n):
    return np.sum((y-beta.dot([x**i for i in range(n+1)]))**2)

In [9]:
b01 = np.zeros(2)
ajuste1 = opt.minimize(fun_obj, b01, args=(x,y,1))
b02 = np.zeros(3)
ajuste2 = opt.minimize(fun_obj, b02, args=(x,y,2))
b03 = np.zeros(4)
ajuste3 = opt.minimize(fun_obj, b03, args=(x,y,3))
b04 = np.zeros(5)